@model IEnumerable<RentCartWeb.Core.Models.Customers>
                      

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<h2>Customers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
            @*@Html.JQueryUI().DatepickerFor(model => item.BirthDate)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZIPCode)
        </th>
        <th></th>
    </tr>



@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
            @*@Html.JQueryUI().DatepickerFor(model => item.BirthDate)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZIPCode)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })*@
            @Html.ActionLink("Edit", "Edit", new { Id = item.Id })
            @*@Html.ActionLink("Delete", "Delete", new { Id = item.Id }, new { onclick = "return confirm('Are you sure you wish to delete this article?');" })*@



        </td>
    </tr>
}

</table>
@*<script type="text/javascript">
    $(function () { // will trigger when the document is ready
       $('.datepicker').datepicker(); //Initialise any date pickers
    });
</script>*@

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section scripts
{

    @*<script src="~/Scripts//jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/datepicker.js"></script>
    <script>
        $(function)(){
            $(".datepicker").datepicker({
                dateFormat :  'dd-MM-yyyy'
            });
         });
    </script>*@
    
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () { // will trigger when the document is ready
            $('.datepicker').datepicker({format: 'dd-MM-yyyy'}); //Initialise any date pickers
        });
    </script>
}